body {
    font-family: 'Ubuntu', sans-serif;
    padding: 0px; margin: 0px;
}
th {
    font-family: 'Oswald', sans-serif;
}

header {
    height: 100px;
    width: 100%;
    background: #000000;
    margin-bottom: 1em;

}

header div#logo {
    padding: 12px;
    font-size: 4.5em;
}

header div#logo a {
    font-family: 'Supermercado One', cursive !important;
    text-decoration:none;
    color: #ffffff;
}

header div#menu {
    background-color: #00AAFF;
    height: 18px;
    margin-bottom: 12px;
}
h3 a { padding-left: 12px; }

div#menu a {
    color: #000000;
    margin-right: 12px;
    text-decoration: none;

}

div#content {
    padding: 1em;
    margin-top: 15px;
}

table.display {
    border: 1px solid #999;
}

table.display th {
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    font-size: 12px;
    background-color: #ccc
}

table.display td {
    text-align: left;
    vertical-align: top;
}

table.crud {
    border: 1px solid #999;
}
table.crud th {
    font-weight: bold;
    width: 125px;
    text-align: right;
    vertical-align: top;
    padding-top: 4px;
    font-size: 12px;
}
table.crud td {
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    padding-top: 4px;
}

span.checkbox,
span.radio {
    white-space: nowrap;
    display: inline-block
}
div.exercise {
    display: block;
    margin-top: 4px;
    font-size: 14px;
}
div.exercise div {
    display: inline-block;
    vertical-align: top;
    width: 125px;
}
div.exercise .exerciseName {
    width: 125px;
}
div.exercise .exerciseDesc {
    width: 270px;
    font-size: 12px;
}
div.exercise .primaryMuscle {
    width: 125px;
}
div.exercise .secondaryMuscles {
    width: 125px;
}
div.exercise .equipment {
    width: 100px;
}

div.scoreTable { display: inline-block; width: 350px; vertical-align: top; border: 1px solid #ccc}
div.scoreDiagram { display: inline-block; width: 400px; border: 1px solid #ccc;}
div.scoreMuscle { clear: left; display: inline-block; width: 125px; }
div.scorePrimary, div.scoreSecondary, div.scoreColor { display: inline-block; width: 75px} 
div.header { font-weight: bold; }